@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400700&display=swap')

$primary: #ff436c
$secondary: #0abeeb
$highlight: #fffb00

html
  font-family: "Nanum Gothic Coding", monospace
  font-style: normal

body.light-mode
  --text: #000
  --subtext: #777
  --background: #fff
  --button: #eee
  --border: #ddd

body.dark-mode
  --text: #fff
  --subtext: #ddd
  --background: #000
  --button: #222
  --border: #444

body
  color: var(--text)
  background: var(--background)
  a
    color: var(--text)
    text-decoration-color: $secondary
  button
    font-family: "Nanum Gothic Coding", monospace
    color: var(--text)
    background: var(--button)
    border: 2px outset var(--border)
    border-radius: 2px
  input
    font-family: "Nanum Gothic Coding", monospace
    color: var(--text)
    background: var(--background)
    border: 1px solid var(--border)
    padding: 4px
    border-radius: 2px
    &:focus-within
      outline: 5px auto $secondary